header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
    color: rgb(36, 46, 82);
}

.menu-desplegable {
    visibility: hidden;
}

p {
    font-family: 'Be Vietnam Pro', sans-serif;
}

nav p {
    transition: transform .2s;
}

nav p:hover {
    cursor: pointer;
    color: rgb(40, 36, 82, 0.6);
    transform: scale(1.5);
}

.boton-contacto-navbar {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(139, 72, 191);
    border: 1px solid rgb(139, 72, 191);
    border-radius: 30px;
    padding: 10px;
    color: white;
    font-size: 12px;
    width: 90px;
}

.boton-contacto-navbar:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(34, 34, 34, 0.3);
}

.contenido-inicial {
    padding: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.publicidad {
    display: flex;
    column-gap: 60px;
    width: 80%;
    position: relative;
}

.imagen-publicidad {
    width: 50%;

    .img {
        width: 98%;
        position: relative;
    }
}

.texto-publicidad {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: end;
    align-items: end;
    width: 50%;
    justify-content: center;
}

h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(35, 44, 80);
    font-size: 40px;
    max-width: 380px;
    text-align: end;
    margin: 0;
}

.texto-publicidad p {
    color: rgb(0, 0, 0);
    max-width: 430px;
    margin: 0;
    font-size: 17px;
}

.boton-contacto {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(139, 72, 191);
    border: 1px solid rgb(139, 72, 191);
    border-radius: 30px;
    padding: 10px;
    color: white;
    font-size: 12px;
    width: 90px;
}

.boton-contacto:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(34, 34, 34, 0.3);
}

.barra {
    background-color: #8b48bf;
    display: flex;
    height: 180px;
    align-items: center;
    column-gap: 130px;
    position: relative;
}

.titulo-barra {
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}

.titulo-barra h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 30px;
    color: white;
    margin: 0;
    width: 400px;
}

.texto-barra {
    width: 50%;
    display: flex;
    justify-content: start;
    text-align: start;
    position: relative;
}

.texto-barra p {
    color: white;
    margin: 0;
    font-size: 15px;
    font-weight: 200;
    width: 400px;
}

.servicios {
    background-color: #fafafa;
    margin: 0;
    padding: 20px;
}

.servicios p {
    margin: 0;
}

.contenido-servicios {
    display: flex;
    gap: 15px;
    margin: 20px;
    justify-content: center;
}

.numeros {
    width: 45px;
    height: 30px;
    border-radius: 20px;
    background-color: #8b48bf;
    text-align: center;
}

.numeros p {
    color: white;
    font-size: 12px;
    padding-top: 0.6em;
}

.servicios-iniciales {
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
}

.info-servicios {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 440px;
}

.titulo-servicios {
    padding-top: 9px;
    font-size: 15;
    font-weight: 600;
}

.texto-servicios {
    font-size: 15;
    color: rgb(179, 178, 183);
}

.los-mejores {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #242E53;
    text-align: center;
    font-size: 40px;
    padding: 100px;
}

.mejores-jugadores {
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    text-align: center;
    margin: 0 30px;
}

.contenedor-jugador1, .contenedor-jugador2, .contenedor-jugador3 {
    padding: 5px 15px;
    height: 250px;
}

.img-jugador {
    border-radius: 50px;
    position: relative;
    top: -2.5em;
    z-index: 1;
}

.nombre-jugador {
    color: #3F4868;
    font-weight: 600;
}

.descripcion-jugador {
    color: #B9B9C1;
    max-width: 430px;
}

.contendor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-more {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(139, 72, 191);
    border: 1px solid rgb(139, 72, 191);
    border-radius: 30px;
    padding: 15px;
    margin: 80px;
    color: white;
    font-size: 14px;
    width: 120px;
}

.boton-more:hover {
    cursor: pointer;
    opacity: 0.7;
}

.barra-final {
    background-color: #8b48bf;
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.boton-go {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-shadow: 0 5px 5px 0 rgba(34, 34, 34, 0.3);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px;
    margin: 40px;
    color: rgb(139, 72, 191);
    font-size: 14px;
    width: 140px;
}

.boton-go:hover {
    cursor: pointer;
    box-shadow: -1px 0 15px 10px rgba(255, 255, 255, 0.39);
}

.barra-final {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 190px;

}

.mejores-equipos {
    font-size: 30px;
    font-weight: 600;
    max-width: 400px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e26;
    color: white;
    height: 270px;
}

.redes {
    padding: 30px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.redes-sociales {
    display: flex;
    column-gap: 15px;
}

.facebook, .youtube, .twitter, .pinterest, .instagram {
    transition: transform .2s;
}

.facebook:hover, .youtube:hover, .twitter:hover, .pinterest:hover, .instagram:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px 20px 20px;
    font-size: 16px;
    font-weight: 300;
    align-items: start;
    width: 33%;
}

.campo-texto {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
}

.input {
    display: flex;
    column-gap: 10px;
    justify-content: space-evenly;
}

.input input {
    width: 170px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid #1e1e26;
    padding: 2px 10px 2px 10px;
}

::placeholder {
    color: #A0A0A0;
    font-weight: 500;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
}

.input button {
    background-color: #8b48bf;
    color: white;
    border: 1px solid #8b48bf;
    border-radius: 25px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    width: 70px;
    height: 45px;
    padding: 5px;
}

.copy {
    color: #A0A0A0;
    font-size: 12px;
    text-align: end;
}

.copy2 {
    visibility: hidden;
}

@media (max-width:390px) {

    body {
        width: 100%;
    }

    header {
        justify-content: space-between;
        column-gap: 80px;
    }

    .boton-contacto-navbar {
        display: none;
    }

    .menu-desplegable {
        visibility: visible; 
        padding-left: 5em;
        width: 40px;
    }

    .navbar {
        display: none;
    }

    .publicidad {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contenido-inicial {
        margin-top: 0;
    }

    .imagen-publicidad {
        width: 100%;
    }

    .texto-publicidad {
        width: 100%;
    }

    .texto-publicidad p {
        font-size: 13.5px;
        font-weight: 500;
    }

    .boton-contacto {
        width: 115px;
        font-weight: 200;
        font-size: 11px;
    }

    .barra {
        background-color: #3cddf3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 260px;
        align-items: start;
        padding: 20px;
    }

    .titulo-barra {
        width: 100%;
    }

    .titulo-barra h2 {
        margin-top: 0.83em;
        font-weight: 500;
    }

    .texto-barra {
        width: 100%;
    }

    .texto-barra p {
        font-size: 13px;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .texto-servicios {
        font-size: 13px;
        width: 300px;
    }

    .servicios-iniciales {
        display: flex;
        flex-direction: column;
    }

    .titulo-servicios {
        background-color: rgba(139, 72, 191, 0.384);
        text-align: start;
        padding: 10px 10px;
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        margin: 0;
    }
    
    .contenido-servicios {
        gap: 0;
    }

    .numeros {
        width: 310px;
        height: 36px;
        z-index: 1;
        background-color: rgba(139, 72, 191, 0.384);
        border-radius: 1px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
    }

    .numeros p {
        padding-top: 0.8em;
        padding-bottom: 1em;
        background-color: #8b48bf;
        border-radius: 25px;
    }

    .los-mejores {
        font-size: 30px;
        padding: 100px 0;
    }

    .contenedor-jugador1, .contenedor-jugador3 {
        display: none;
    }

    .contenedor-jugador2 {
        height: 186px;
        padding-bottom: 30px;
    }

    .img-jugador {
        width: 60px;
    }

    .nombre-jugador {
        font-size: 14px;
    }

    .descripcion-jugador {
        font-size: 13px
    }

    .boton-more {
        height: 35px;
        width: 100px;
        padding: 0;
        font-size: 11px;
        font-weight: 300;
    }

    .boton-more:hover {
        opacity: 10;
    }

    .barra-final {
        background-color: #3cddf3;
        flex-direction: column;
        text-align: center;
        height: 300px;
    }

    .mejores-equipos {
        font-weight: 500;
        font-size: 35px;
        margin: 0 55px 0 55px;
    }

    .boton-go {
        background-color: #232c50;
        border: none;
        color: #fafafa;
        font-size: 10px;
        margin: 0;
        width: 120px;
    }

    footer {
        flex-direction: column-reverse;
        height: 450px;
        padding-top: 25px;
    }

    .menu {
        padding-top: 20px;
        width: 90%;
        font-size: 14px;
    }

    .copy {
        display: none;
    }

    .campo-texto {
        width: 80%;
        padding: 10px 35px;
    }

    .input input {
        width: 300px;
        height: 35px;
    }

    ::placeholder {
        font-weight: 400;
        font-size: 11px;
    }

    .input button {
        width: 75px;
        height: 40px;
        font-size: 12px;
    }

    .redes {
        flex-direction: column-reverse;
        justify-content: center;
        width: 90%;
        gap: 50px;
        padding: 5px 20px 20px 20px;
    }

    .redes-sociales {
        column-gap: 50px;
    }

    .copy2 {
        visibility: visible;
        font-size: 11px;
        text-align: center;
        color: #8c8c94;
        padding: 5px 15px 35px 15px;
        margin: 0;
    }
}